# Modulo PANDAS:

Curso **"Python para Matemáticos, nivel intermedio"**. (3. Seccion)
Para mayor información visite: http://pandas.pydata.org

![Pandas](../images/pandas.png "Pandas")

## Indice:

1. Lectura y escritura de archivos con funciones propias de python
2. Lectura y escritura de archivos con funciones de numpy: loadtxt, getfromtxt etc
3. Introducción al uso de base de datos con Pandas

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
import pandas as pd

Ahora procesaremos una base de datos bajada en internet bajo el link https://catalog.data.gov/dataset/most-popular-baby-names-by-sex-and-mothers-ethnic-group-new-york-city-8c742 que contiene información sobre los nombres de bebes según género y grupo etnico al cual pertenece la madre.

Las primeras lineas se ven aquí:
```

Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank

2011,FEMALE,HISPANIC,GERALDINE,13,75

2011,FEMALE,HISPANIC,GIA,21,67

2011,FEMALE,HISPANIC,GIANNA,49,42

2011,FEMALE,HISPANIC,GISELLE,38,51

2011,FEMALE,HISPANIC,GRACE,36,53```


La primera línea muestra el nombre de la variable de cada columna y las siguientes lineas contienen los datos.

Para eso usamos pandas que es un modulo de python que facilita el tratamiento de datos heterogéneos (strings, float etc.)


Mayor información se puede obtener en estos dos tutoriales de introducción:

http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/01%20-%20Lesson.ipynb

http://nbviewer.jupyter.org/urls/bitbucket.org/hrojas/learn-pandas/raw/master/lessons/02%20-%20Lesson.ipynb

Pandas permite la lectura y escritura de varios formatos usados para almacenar datos:

![Pandas](../images/pandas_io.png "Pandas")

In [ ]:
str_archivo = 'Data/Clases/Popular_Baby_Names.csv'

In [ ]:
#pd.read_csv?

In [ ]:
data = pd.read_csv(str_archivo)

In [ ]:
type(data)

Un Dataframe es una estructura 2-dimensional de datos de diferentes tipos (float, int, etc.) organizdos en columnas. Por lo que es similar a una hoja de cálculo como utilizada en openoffice o excel.

In [ ]:
data.head()

In [ ]:
data.tail()

Este dataframe tiene 6 columnas con nombres como "Year of Birth", "Gender" etc que se obtienen de la primera fila del archivo.

Cada columna puede tener diferente tipos de variable.

Cada columna representa una **series** que se puede obtener de la siguiente forma

In [ ]:
data['Year of Birth']

In [ ]:
data['Child\'s First Name']

**Pandas ofrece una serie de análisis estadísticos sobre cada serie**

Podemos sumar el número total de nombres (niños) de toda la base de datos

In [ ]:
data['Count']

In [ ]:
data['Count'].sum()

In [ ]:
data['Count'].max()

In [ ]:
data['Count'].min()

In [ ]:
data['Count'].describe()

**Ahora lo vamos a ordenar según el número de niños con ese nombre.**

In [ ]:
data.sort_values('Count')

In [ ]:
data.sort_values('Count',ascending=False)

** Ahora ordenamos según el año, genero y número de niños.**

In [ ]:
data.sort_values(['Year of Birth','Gender','Count'],ascending=False)

Busquemos un nombre en especial, p.e. EMMA

In [ ]:
data_ema = data[(data['Child\'s First Name'] == "EMMA")]
data_ema

**Entre [] al definir un Dataframe se puede especificar el nombre de una serie, una lista de columnas y filas o expresión lógica sobre todo el Dataframe**

También se puede hacer con la función: `data.loc[df['column_name'] == some_value]`

In [ ]:
data_ema = data.loc[data['Child\'s First Name'] == "EMMA"]
data_ema

También se puede usar la función `loc` y entregar solo el valor de una serie

In [ ]:
data.loc[data['Count'] > 100,'Child\'s First Name']

Vamos a crear un nuevo Dataframe con todos los nacimientos en el 2012

In [ ]:
data_ema_2012 = data_ema.loc[data_ema['Year of Birth'] == 2012]

In [ ]:
data_ema_2012

**Ahora sumamos el número de veces que se dio el nombre EMMA**

In [ ]:
data_ema_2012['Count'].sum()

In [ ]:
data_ema_2012_corr.plot.bar(x='Ethnicity',y='Count')

In [ ]:
hispanic_male = data[(data['Gender'] == 'MALE') & (data['Ethnicity'] == 'HISPANIC')]

Agrupar por columna y sumar el valor de las otras columnas

In [ ]:
nacimiento_por_año = hispanic_male.groupby('Year of Birth').sum()
nacimiento_por_año

In [ ]:
nacimiento_por_año.plot(y='Count')

In [ ]:
nacimiento_por_año.plot.pie(y='Count')

In [ ]:
nacimiennto_por_año['Count'].plot.bar()

In [ ]:
nacimiento_por_año.columns

In [ ]:
nacimiento_por_año['Count'].plot.area()

In [ ]:
nacimiento_por_año['Count'].plot.box()

### Para mayor información sobre los atributos y métodos de la clase Dataframe en pandas ver:
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

**Nota Autor Original Notebook:**

>Taller "Introducción a la Programación en Python".
[G.F. Rubilar](http://google.com/+GuillermoRubilar), Stefan Vogt y Esteban Vöhringer-Martinez
La última versión de este [jupyter notebook](http://ipython.org/notebook.html) está disponible en (https://github.com/PythonUdeC/CPC21/blob/master/05-Procesamiento_datos.ipynb).